<div class="aside__list">
  <div class="aside__list-item">
    <div class="title">contact</div>
    <div class="data">
      <a href="#" class="link">example@gmail.com</a>
      <a href="#" class="link">+001 00 000 0000</a>
      <a href="#" class="link">https://hubcrag.com/</a>
      <p>New York, NY</p>
    </div>
  </div>
  <div class="aside__list-item">
    <div class="title">education</div>
    <div class="data">
      <div class="data-row">
        <b>2016</b>
        <p>MA in Digital Design Cornell University</p>
      </div>
      <div class="data-row">
        <b>2014</b>
        <p>BA in Graphic Design Royal College of Arts</p>
      </div>
    </div>
  </div>
  <div class="aside__list-item">
    <div class="title">skills</div>
    <div class="data">
      <p>Prototyping</p>
      <p>UI Design</p>
      <p>Ilustration</p>
      <p>User Research</p>
    </div>
  </div>
  <div class="aside__list-item">
    <div class="title">awards</div>
    <div class="data">
      <b>Young Talent 2014 </b>
      <p>Royal College of Art</p>
    </div>
  </div>
  <div class="aside__list-item">
    <div class="title">languages</div>
    <div class="data">
      <div class="data-row">
        <b>English</b>
        <p>Native proficiency</p>
      </div>
      <div class="data-row">
        <b>German</b>
        <p>Working proficiency</p>
      </div>
    </div>
  </div>
</div>
