<div class="exp">
  <div class="exp__wrapper">
    <h2 class="title">Experience</h2>
    <div class="exp__list">
      <div class="exp__list-item">
        <div class="date"><p> 2019-CURRENT </p></div>
        <div class="data">
          <div class="title">UX Designer</div>
          <div class="subtitle">Digital Agency One, New York</div>
          <div class="desc">
            Use this space to summarize your main role, tasks, responsibilities
            and experinece at this specific job. You can also mention exact
            projects or describe the team setting you worked in.
          </div>
        </div>
      </div>
      <div class="exp__list-item">
        <div class="date"><p> 2016-2019 </p></div>
        <div class="data">
          <div class="title">JUNIOR UI Designer</div>
          <div class="subtitle">Digital Agency Two, Budapest, Hungary</div>
          <div class="desc">
            Use this space to summarize your main role, tasks, responsibilities
            and experinece at this specific job. You can also mention exact
            projects or describe the team setting you worked in.
          </div>
        </div>
      </div>
      <div class="exp__list-item">
        <div class="date"><p> 2016-2019 </p></div>
        <div class="data">
          <div class="title">Graphic Designer</div>
          <div class="subtitle">Ad Agency Number Three, Berlin, Germany</div>
          <div class="desc">
            Use this space to summarize your main role, tasks, responsibilities
            and experinece at this specific job. You can also mention exact
            projects or describe the team setting you worked in.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
